.eventEdit {
  display: grid;
  grid-template: 6fr / 2fr;
  grid-row-gap: 1.5em;
  grid-column-gap: 1em;
}

.title {
  grid-area: 1 / 1 / 2 / 3;
}

.nameValue {
  grid-area: 2 / 1 / 3 / 3;
}

#valueInput {
  width: 150px;
}

.valueInput {
  grid-area: 3 / 1 / 4 / 2;
}

.dateInput {
  grid-area: 3 / 2 / 4 / 3;
}

.typeLabel {
  grid-area: 4 / 1;
}

.typeRadioButtons {
  grid-area: 4 / 2;
}

.recurringLabel {
  grid-area: 5 / 1;
}

.recurringSwitch {
  grid-area: 5 / 2;
}

.howOftenLabel {
  grid-area: 6 / 1;
  margin-top: 15px;
}

.recurringDropdown {
  grid-area: 6 / 2;
}

.attributeLabel {
  font-size: 1.25em;
}

#backButton,
#closeButton,
#continueButton,
#confirmButton {
  width: 80px;
  height: 40px;
  padding: 0 10px 0 10px;
}

#backButton,
#closeButton {
  margin-right: auto;
  grid-area: 7 / 1;
}

#continueButton,
#confirmButton {
  margin-left: auto;
  grid-area: 7 / 2;
}
