.eventEdit {
  display: grid;
  grid-template: 5fr / 2fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.input {
  height: 2rem !important;
}

.title {
  grid-area: 1 / 1 / 2 / 3;
}

.nameValue {
  grid-area: 2 / 1 / 3 / 3;
}

.eventTypeLabel {
  font-size: 1.5em;
}

.recurringLabel {
  font-size: 1.5em;
}

.switch {
  margin-top: 5.5px;
}

.btn {
  width: 60px;
  padding: 0 10px 0 10px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}
