.eventEdit {
  display: grid;
  grid-template: 5fr / 2fr;
  grid-row-gap: 1.5em;
  grid-column-gap: 1em;
}

.title {
  grid-area: 1 / 1 / 2 / 3;
}

.nameValue {
  grid-area: 2 / 1 / 3 / 3;
}

#valueInput {
  width: 150px;
}

.attributeLabel {
  font-size: 1.25em;
}

#backButton,
#closeButton,
#continueButton,
#confirmButton {
  width: 80px;
  height: 40px;
  padding: 0 10px 0 10px;
}

#backButton,
#closeButton {
  margin-right: auto;
}

#continueButton,
#confirmButton {
  margin-left: auto;
}
