.day {
  height: 10vh;
  width: calc(100% / 7);
  padding: 0 3px;
  vertical-align: top;
  font-size: 0.8em;
  border: thin solid rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template: 2fr / 2fr;
}

.date {
  grid-area: 1 / 2 / 2 / 3;
}

.value {
  grid-area: 2 / 1 / 3 / 2;
}

.otherMonth {
  background-color: rgba(0, 0, 0, 0.1);
}

.thisMonth {
  background-color: white;
}

.today {
  background-color: rgba(56, 142, 60, 0.2);
}
