.day {
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
  width: calc(100% / 7);
  min-width: calc(100% / 7);
  max-width: calc(100% / 7);
  padding: 0 3px;
  vertical-align: top;
  font-size: 0.8em;
  border: thin solid rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template: 1fr / 3fr;
}

.date {
  grid-row: 1;
}

.value {
  grid-row: 2;
  font-size: 1.2em;
}

.events {
  grid-row: 3;
  font-size: 0.8em;
}

.otherMonth {
  background-color: rgba(0, 0, 0, 0.1);
}

.thisMonth {
  background-color: white;
}

.today {
  background-color: rgba(56, 142, 60, 0.2);
}
