.calendarMenu {
  display: grid;
  grid-template: 2fr / 2fr;
  grid-column-gap: 1em;
}

.dashboardDate {
  grid-area: 1 / 1 span 2;
}

.accountDropdown {
  grid-area: 2 / 1;
  height: 37.696px;
  max-width: 230px;
}

.headerButtons {
  grid-area: 2 / 2;
}

.button {
  margin-bottom: 10px;
  z-index: 0;
  padding: 0 6px;
}

.eventButton {
  margin-left: 5px;
}
